<%- include('navbar') %>

<div class="container-fluid">
  <div class="row home">
    <div class="col">
      <h1>El Team Rocket despega de nuevo</h1>
    </div>
  </div>
</div>

<%- include('footer') %>
